/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body.single-iconset #content {

    width: 100%;
}


.designer-bio.vcard {

    background: #eee;
    border-radius: 4px;
    border: 1px solid #aaa;
    margin: 20px;
    padding: 30px;
    float: none !important;
    width: auto;
}

.designer-bio p,
.designer-bio ul,
.designer-bio h2,
.designer-bio h3,
.designer-bio h4,
.designer-bio h5,
.designer-bio h6,
.designer-bio .fn,
/* Over-ride WP defaults */
.post-content .designer-bio h2,
.post-content .designer-bio h3,
.post-content .designer-bio h4,
.post-content .designer-bio h5,
.post-content .designer-bio h6 {

    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}

.designer-bio.vcard a {

    display: block;
    width: 100%;
    height: 100%;
}

.designer-bio.vcard img.avatar {

    float: none !important;
    display: block;
    width: auto;
    height: auto;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.designer-bio .samples.col-3 ul,
.designer-bio .samples.col-4 ul {

    display: table !important;
    width: 100%;
}

.designer-bio .samples.col-3 li,
.designer-bio .samples.col-4 li {

    display: table-cell !important;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
}

.designer-bio .samples.col-3 li a,
.designer-bio .samples.col-4 li a {


    text-align: center;
}


.designer-bio .samples.col-3 li img,
.designer-bio .samples.col-4 li img {

    margin: 0 auto;
    float: none;
}


.designer-bio .bio,
.designer-bio .avatar {

    float: left;
}

.designer-bio .avatar {

    width: auto;
    margin: 0 10px 10px 0;
}

.designer-bio .bio {

    width: 75%;
}

.designer-bio .samples,
.designer-bio .iconsets {

    clear: both;
}

.designer-bio .samples img,
.designer-bio .iconsets img {

    width: auto !important;
    height: auto !important;
}